
<div class="modal fade" id="exampleModal" tabindex="-1" aria- 
  labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Virtual contest</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="my-2">
          As for now, vistual contests can only be created with a random set of problems from the current book edition.
        </div>
        <form class="row g-3" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="col-md-6">
            <label for="start_time" class="col-sm-4 col-form-label">Start time</label>
            <input type="time" class="form-control" aria-label="Start time" aria-describedby="start_time" name="start_time" ngModel> 
          </div>
          <div class="col-md-6">
            <label for="end_time" class="col-sm-4 col-form-label">End time</label>
            <input type="time" class="form-control" aria-label="End time" aria-describedby="end_time" name="end_time" ngModel>
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Participants (comma-separated)</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Username" (keyup)="onUserInput($event)">
            <div class="mt-3 gap-2">
              <span class="badge text-bg-info me-1" *ngFor="let user of userList">
                <span class="my-auto">
                  {{ user }}
                </span>
                <button type="button" class="btn-close" aria-label="Close" (click)="removeUser(user)"></button>
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal" 
          aria-label="Create">
            Create
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed top-0 start-0 p-3">
  <div id="incorrectUserToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="badge text-bg-danger me-2"><i class="bi bi-exclamation-lg"></i></span>
      <strong class="me-auto">Incorrect user name</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      The user could not be found. Please try again.
    </div>
  </div>
  <div id="repeatedUserToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="badge text-bg-danger me-2"><i class="bi bi-exclamation-lg"></i></span>
      <strong class="me-auto">User is a participant</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      This user is already a participant in the contest. Please add a different user.
    </div>
  </div>
  <div id="minUserToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="badge text-bg-danger me-2"><i class="bi bi-exclamation-lg"></i></span>
      <strong class="me-auto">No participants</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      The contest must have at least one participant.
    </div>
  </div>
  <div id="invalidTimesToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="badge text-bg-danger me-2"><i class="bi bi-exclamation-lg"></i></span>
      <strong class="me-auto">Invalid times</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Check the start and end times of the contest. <br>The end time must be later than the start time, and both must be in the future.
    </div>
  </div>
  <div id="userAddedToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="badge text-bg-info me-2"><i class="bi bi-check-lg"></i></span>
      <strong class="me-auto">New participant</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      User {{ userList.at(userList.length-1) }} has been added to the list of participants.
    </div>
  </div>
</div>
