<ng-container *ngIf="chapter">

    <div class="accordion-item mb-2">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+chapter.id" aria-expanded="true" [attr.aria-controls]="chapter.id" >
                {{ chapter.title }}<span class="badge ms-2" [ngClass]="allSolved ? 'text-bg-success' : 'text-bg-light'">{{ getSolved() }}</span>
            </button>
        </h2>
        <div [attr.id]="chapter.id" class="accordion-collapse collapse">
            <div class="accordion-body">
                <app-section [section]="section" *ngFor="let section of chapter.sections"></app-section>
            </div>
        </div>
    </div>

</ng-container>
<ng-container *ngIf="!chapter">
    
    <p>Unavailable</p>

</ng-container>