<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary px-4 px-lg-5 py-2 rounded-4 m-3">
    <div class="container-fluid my-2">
        <a class="navbar-brand" href="#">
            <h1>{{ title }}</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ms-auto px-3 px-lg-0">
                <div class="btn-group mx-lg-1 mt-3 mt-lg-0">
                    <input type="radio" class="btn-check" name="edition" id="edition1" autocomplete="off" (click)="selectEdition(1)">
                    <label class="btn btn-outline-info text-nowrap" for="edition1">1st Edition</label>
                
                    <input type="radio" class="btn-check" name="edition" id="edition2" autocomplete="off" (click)="selectEdition(2)">
                    <label class="btn btn-outline-info text-nowrap" for="edition2">2nd Edition</label>
                
                    <input type="radio" class="btn-check" name="edition" id="edition3" autocomplete="off" (click)="selectEdition(3)" checked>
                    <label class="btn btn-outline-info text-nowrap" for="edition3">3rd Edition</label>
                </div>
                <form #f="ngForm" (ngSubmit)="selectUser(f)" novalidate 
                    class="input-group mx-lg-1 my-2 my-lg-0 w-50">
                    <input class="form-control" placeholder="UVa username" aria-label="Search" 
                            ngModel name="user">
                    <button class="btn btn-outline-info">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid p-4">
    <div class="d-flex justify-content-center mb-5 mt-2" *ngIf="bookSpinner || userSpinner">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="accordion" id="accordionChapters">
        <app-chapter [chapter]="chapter" *ngFor="let chapter of book"></app-chapter>
    </div>
</div>

<footer class="pt-4 pb-2 fixed-bottom bg-body-tertiary rounded-top-4 mx-0 mx-md-3">
    <h6 class="text-center">
        &lt;/&gt; with 💙 by 
        <a href="https://github.com/xIvqn" target="_blank" class="text-primary-emphasis" rel="noopener">xIvqn</a> 
        using 
        <a href="https://angular.io/" target="_blank" rel="noopener">
            <img src="assets/angular-logo.svg" alt="Angular" style="max-height: 1.5em;" class="mx-1">
        </a> 
        and 
        <a href="https://uhunt.onlinejudge.org/api" target="_blank" rel="noopener">
            <img src="assets/uva-logo.png" alt="uHunt API" style="max-height: 1.5em;" class="mx-1">
        </a>.
    </h6>
</footer>