<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1>{{ title }}</h1>
        </a>
        <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse position-relative" id="navbar">
            <form class="d-flex position-absolute end-0" (ngSubmit)="search()">
                <div class="input-group me-2">
                    <select class="form-select" (change)="selectEdition($any($event.target).value)" 
                            [(ngModel)]="bookEdition" name="bookEdition">
                      <option value="1">1st Edition</option>
                      <option value="2">2nd Edition</option>
                      <option value="3" selected>3rd Edition</option>
                    </select>
                </div>
                <div class="input-group me-2">
                    <input class="form-control" type="search" placeholder="UVa username" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</nav>

<app-chapter [chapter]="chapter" *ngFor="let chapter of chapters"></app-chapter>
