<ng-container *ngIf="problem">

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5><span *ngIf="problem.starred">*</span> {{ problem.title }}</h5>
                <div class="card-text">
                    <h6>{{ problem.num }}<span *ngIf="problem.solved"> -> Solved!</span></h6>
                    <p>ID: {{ problem.pid }} | Status: {{ problem.status }} | DACU: {{ problem.dacu }}</p>
                </div>
                <button type="button" class="btn btn-outline-secondary float-end" (click)="openpdf()">PDF</button>
            </div>
        </div>
    </div>

</ng-container>
<ng-container *ngIf="!problem">
    
    <p>Unavailable</p>

</ng-container>