<ng-container *ngIf="problem">

    <div class="col">
        <div class="card">
            <div class="card-body rounded" [ngClass]="setClasses()">
                <div class="card-title">
                    <h6># {{ problem.num }}
                        <i class="bi bi-star-fill float-end" *ngIf="problem.starred"></i></h6>
                    <h5>{{ problem.title }}</h5>
                </div>
                <hr>
                <div class="card-text">
                    <p>DACU: {{ problem.dacu }}</p>
                    <div class="pt-3 pb-2">
                        <h6 class="text-center">Verdicts</h6>
                        <table class="table table-bordered text-center" 
                                [class.text-white]="!problem.starred || problem.solved" [class.text-dark]="problem.starred && !problem.solved">
                            <thead>
                                <tr>
                                    <th scope="col">ACs</th>
                                    <th scope="col">WAs</th>
                                    <th scope="col">TLEs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ problem.ac }}</td>
                                    <td>{{ problem.wa }}</td>
                                    <td>{{ problem.tle }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a [href]="uvaLink()" target="_blank" class="btn btn-outline-dark float-end ms-2" 
                            [class.text-white]="!problem.starred || problem.solved">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</ng-container>
<ng-container *ngIf="!problem">
    
    <p>Unavailable</p>

</ng-container>